body{
    padding: 0;
    margin: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(26, 5, 78);
}
.container{
    background-color: rgb(73, 58, 137);
    width: 50%;
    height: 45vh;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgb(117, 200, 61);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-size: 35px;
}
.input-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.input-div input{
    width: 50%;
    height: 50px;
   border-bottom-left-radius: 3px;
   border-top-left-radius: 3px;
    border-style: none;
    font-size: 16px;
}
.input-div button{
    width: 15%;
    height: 52px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-radius: 3px;
    border-style: none;
    background-color: rgb(136, 179, 248);
    color: white;
    font-size: 15px;
}
.range-div{
    margin-bottom: 0;
}
.range-div input{
    width: 60%;
}
.range-div p{
    font-size: 15px;
}

.btnstyle{
    width: 80%;
    
    cursor:pointer;
    height: 50px;
    margin-top: 12px;
    border: none;
    font-size: 15px;
    color: white;
    background-color: rgb(101, 133, 217);
    border-radius: 16px;
    font-size: 20px;
}
#passValue{
    font-size: 22px;
    text-align: right;
}
.red{
    color: red;

}
.green{
    color: rgb(24, 244, 24);
}
.red,.green{
    font-size: 17px;
}
